RVL_ALIAS "clk" "clk"; 
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
BANK 0 VCCIO 3.3 V;
BANK 1 VCCIO 3.3 V;
BANK 2 VCCIO 3.3 V;
BANK 3 VCCIO 3.3 V;
IOBUF ALLPORTS IO_TYPE=LVCMOS33 ;
LOCATE COMP "serial_out" SITE "10" ;
LOCATE COMP "sclk" SITE "27" ;
BLOCK JTAGPATHS ;
FREQUENCY PORT "sclk" 48.000000 MHz ;
LOCATE COMP "led0" SITE "97" ;
LOCATE COMP "button0" SITE "44" ;
LOCATE COMP "led1" SITE "98" ;
IOBUF PORT "button0" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "sclk" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "sclk_enable" SITE "32" ;
